# Keep in sync with ../.prettierignore. Prettier can only use 1 .prettierignore
/build/
/node_modules/
/src/locales/_build/
**/*.generated.ts

# CRA fucks tsconfig formatting up on every run because it gets confused by
# the parent's paths property, which is required solely to get WebStorm to
# behave.
/tsconfig.json
